
<style>
  #ilidata_index .items {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  #ilidata_index .item {
    padding: 10px;
    position: relative;
    background-color: white;
  }
  #ilidata_index .category {
    float: right;
    border: solid 1px;
    border-radius: 4px;
    font-size: 80%;
    padding: 2px;
    font-weight: bold;
    color: white;
    background-color: gray;
  }
  #ilidata_index .filter-form {
    float: right;
  }
  #ilidata_index i {
    font-style: italic;
    color: gray;
  }
  #ilidata_index input{
    padding: 8px;
    border: none;
  }
</style>
<script>
  function filterItems(sender) {
    const search = sender.value.toLowerCase();

    const allElems = document.querySelectorAll(".item");

    if (search === "") {
      // Show everything

      allElems.forEach((elem) => {
        elem.style.display = "block";
      });
    } else {
      // Hide everything then show filtered items

      const words = search.split(" ");

      allElems.forEach((elem) => {
        elem.style.display = "none";
      });

      const visible = [...allElems].filter((elem) =>
        [...elem.querySelectorAll("h2, .description, .file")].some(
          (child) => words.every(word => child.innerHTML.toLowerCase().indexOf(word) !== -1)
        )
      );

      visible.forEach((elem) => {
        elem.style.display = "block";
      });
    }
  }
</script>

<section id="ilidata_index">
  <div class="filter-form">
    <input
      id="filter"
      placeholder="Filter elements"
      onkeyup="filterItems(this)"
    />
  </div>

  <div class="items">
    {% for item in items %}
    <!-- {{item.id}} -->
    <div class="item">
      {% for category in item.categories %}
      {% if category.code_type == 'model' %}
      <div class="category">
        {{category.name}}
        <!--category.value-->
      </div>
      {% endif %}
      {% endfor %}

      <h2>
        {% if item.titles %} {% for lang, title in item.titles.items() %}
        {{title}} [{{lang}}]{% if not loop.last %} / {% endif %} {% endfor %}
        {% else %} {{item.id}} {% endif %}
      </h2>

      <p class="description">
        {% if item.descs %} {% for lang, desc in item.descs.items() %}
        {{desc}} [{{lang}}]{% if not loop.last %}
      </p>
      <p class="description">
        {% endif %} {% endfor %} {% else %}
        <i>No description</i>
        {% endif %}
      </p>

      {% for file in item.files %}
      <div class="file">
        Download : <a href="{{file.url}}">{{file.path}}</a
        ><!--[{{file.format}}]-->
      </div>
      {% endfor %}

      <div class="owner">
        Owner : <a href="{{item.owner_url}}">{{item.owner_name}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
