# for localhost depolyment uncomment the next 5 lines
# and comment out usabilityhub.opengis.ch
#{
#    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
#    email marco@test.ch
#}
#localhost

# domain name.
usabilityhub.opengis.ch

# Set this path to your site's directory.
root * /io/www

# Enable the static file server.
encode zstd gzip
file_server browse

